@import "tailwindcss";

@theme inline {
  /* Primary colors */
  --color-primary: #483EFF;
  --color-primary-hover: #164A8A;

  /* Text colors */
  --color-marine-blue: #022959;
  --color-cool-gray: #9699AA;
  --color-light-gray: #D6D9E6;

  /* Background colors */
  --color-magnolia: #EFF5FF;
  --color-alabaster: #FAFBFF;

  /* Sidebar colors */
  --color-pastel-blue: #ABBCFF;
  --color-light-blue: #BEE2FD;

  /* Status colors */
  --color-strawberry-red: #EE374A;

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-magnolia);
  color: var(--color-marine-blue);
  font-family: "Ubuntu", sans-serif;
}

.temp {
  input {
    @apply border border-light-blue mx-2 rounded-lg h-8 focus:outline-none focus:ring-1 focus:ring-primary px-2;
  }
  
  input[type="submit"] {
    @apply px-8 cursor-pointer;
  }
}

.sidebar {
  background-image: url(/bg-sidebar-mobile.svg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .sidebar {
    background-image: url(/bg-sidebar-desktop.svg);
  }
}
