@import "tailwindcss";

@theme inline {
  /* Primary colors */
  --color-purple-600: hsl(243, 100%, 62%);
  --color-blue-950: hsl(213, 96%, 18%);

  /* Neutral colors */
  --color-grey-500: hsl(231, 11%, 63%);
  --color-purple-200: hsl(229, 24%, 87%);
  --color-blue-100: hsl(218, 100%, 97%);
  --color-blue-50: hsl(231, 100%, 99%);
  --color-blue-300: hsl(228, 100%, 84%);
  --color-blue-200: hsl(206, 94%, 87%);
  --color-red-500: hsl(354, 84%, 57%);
  --color-white: hsl(0, 100%, 100%);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-blue-100);
  color: var(--color-blue-950);
  font-family: "Ubuntu", sans-serif;
}

.temp {
  input {
    @apply border border-blue-200 mx-2 rounded-lg h-8 focus:outline-none focus:ring-1 focus:ring-purple-600 px-2;
  }
  
  input[type="submit"] {
    @apply px-8 cursor-pointer;
  }
}

.sidebar {
  background-image: url(/bg-sidebar-mobile.svg);
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) {
  .sidebar {
    background-image: url(/bg-sidebar-desktop.svg);
  }
}

.custom-checkbox {
  background-image: url(/icon-checkmark.svg);
  
  @apply rounded border border-gray-300 appearance-none bg-no-repeat bg-size-[0%] bg-center transition-all duration-150 ease-in-out;

  &:checked {
    @apply bg-purple-600 border-purple-600 bg-size-[72%];
  }
}
